@import url(http://fonts.googleapis.com/css?family=Oswald);
body {
	background: #333;
	color: #fff;
	margin: 0;
	padding: 0;
	/*font-family: Roboto, sans-serif;*/
	
}

/*STYLE WRAPPER*/
#wrapper {
	text-align: center;
	width: 30%;
	height: 30%;
	margin-left: 3rem;
	margin-top: 3rem;
	width: 70%;
}

#wrapper header {
	background: #d45500;
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-bottom: 1rem;
	box-shadow: 5px 7px 1px #777;
}

#wrapper header img {
	width: 25%;
	height: 25%;
}

#wrapper header h1 {
	color: #d3bc5f;
	font-size: 3rem;
	text-align: center;
}

#wrapper header p {
	color: #d3bc5f;
	font-size: 1.4rem;
}

/*STYLE SECTION*/
#elements-container {
	margin-bottom: 2rem;
}

/*STYLE LIST ITEMS*/
#elements-container ul {
	margin: 0;
	padding: 0;
}

#elements-container ul li {
	list-style: none;
	background: #d45500;
	color: #d3bc5f;
	font-size: 2rem;
	font-weight: bold;
	text-shadow: 2px 3px 1px #777;
	box-shadow: 5px 7px 1px #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 0.2rem;
	cursor: pointer;
	position: relative;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #333;
  color: #d3bc5f;
}

/*STYLE INPUT AND BUTTON*/
#add-item {
	background: #d45500;
	color: #d3bc5f;
	font-size: 1.3rem;
	font-weight: bold;
	padding-top: 1rem;
	padding-bottom: 3rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-left: 5rem;
	box-shadow: 5px 7px 1px #777;
	margin-bottom: 1rem;
}

#add-item .btn1{
	position: relative;
	padding: 0.7rem;
	margin-top: 1rem;
	border: none;
	background: #777;
	color: #222;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	border-radius: 10px;
	width: 100%;
}

#add-item .btn1:hover{
	background: #333;
	color: #d3bc5f;
}

#add-item input{
	position: relative;
	margin-top: 1rem;
	margin-bottom: 2rem;
	padding: 0.7rem;
	border: 2px solid #333;
	background: #777;
	color: #222;
	border-radius: 10px;
	width: 100%;
}

/*MEDIA QUERIES*/
@media(max-width: 450px){
	#wrapper header h1 {
	display: none;
	}
	
	#add-item {
	padding-left: 1rem;
	}
	
	#elements-container ul li {
	font-size: 1.5rem;
	}
}

@media(max-width: 300px){
	#elements-container ul li {
	font-size: 1.2rem;
	}
}
